@model PaymentModel
@{
    ViewData["Title"] = "Payment";
}
<h2>Payment form</h2>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success">@Model.Message</div>
}
else
{
    using (Html.BeginForm("Payment", "Order", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.OrderId)

        <input type="submit" value="Pay" class="btn btn-primary"/>
    }
}
