@model IEnumerable<CartItemModel>
@{
    ViewData["Title"] = "Cart";
}

<h2>Cart</h2>
@if (Model.Any())
{
    <table class="table">
        @foreach (var cartItem in Model)
        {
            <tr>
                <td>@cartItem.Name</td>
                <td>@cartItem.Price р.</td>
                <td>@cartItem.Count</td>
                <td>
                    @Html.Partial("DeleteProductFromCartForm",
                        new DeleteFromCartModel
                        {
                            ProductId = cartItem.ProductId,
                            ReturnUrl = Context.Request.Path
                        })
                </td>
            </tr>
        }
    </table>

    <a asp-action="Index" asp-controller="Order" class="btn btn-primary">Checkout</a>
}
else
{
    <h3>Cart is empty</h3>
}

